<VirtualHost *:80>
            ServerAdmin admin@seusite.com
            DocumentRoot {{ wp_dir }}
            ServerName seusite.com
            <Directory {{ wp_dir }}>
                Options Indexes FollowSymLinks
                AllowOverride All
                Require all granted
            </Directory>
            ErrorLog ${APACHE_LOG_DIR}/wordpress_error.log
            CustomLog ${APACHE_LOG_DIR}/wordpress_access.log combined
</VirtualHost>
